Question 1<br>
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
l = []

for i in range(2000,3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [5]:
l=[str(i) for i in range(2000,3201) if(i%7==0) and (i%5!=0)]
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question 2<br>
Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [13]:
def fact(x):
    if x == 0:
        return(1) 
    else:
        return( x * fact(x-1))

In [14]:
s = int(input("Enter any number: "))
fact(s)

24

Question 3<br>
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [18]:
x = int(input('Enter the number: '))
d = dict()
for i in range(1,x+1):
    d[i] = i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
n = int(input('Enter the number: '))
di = {i:i*i for i in range(1,n+1)}
print(di)

{1: 1, 2: 4, 3: 9, 4: 16}

Question 4<br>
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

In [30]:
value=input()
l = value.split(',')
t = tuple(l)
print(f'Tuples of value : {t}')
print(f'List of value: {l}')

Tuples of value : ('324', '4315', 'qerwd', 'qwer')
List of value: ['324', '4315', 'qerwd', 'qwer']

Question 5
Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

In [31]:
class InputOutString:
    def __init__(self):
        self.s = ''
    
    def getString(self):
        self.s = input()

    def printString(self):
        print(self.s.upper())

In [32]:
a = InputOutString()
a.getString()
a.printString()

CBFHVBC

Question 6<br>
Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [2]:
import math
c = 50
h=30
value = []
items = [x for x in input("Input numbers comma-separated").split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

33,34,10,6,10,9

Question 7</br>
Write a program which takes 2 
digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [8]:
input_str = input('Enter two integer by a comma: ')
d = [int(x) for x in input_str.split(',')]
rowNum = d[0]
colNum = d[1]
multilist = [[0 for col in range(colNum)] for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col] = row*col

print(multilist)

[[0, 0], [0, 1]]

In [9]:
rowNum = int(input("Enter any number: "))
colNum = int(input('Enter the second number: '))
multilist = [[0 for col in range(colNum)]for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col] = row*col

print(multilist)

[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6]]

Question 8</br>
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.Suppose the following input is supplied to the program: without,hello,bag,world

Then, the output should be: bag,hello,without,world

In [15]:
o_s = input('Enter the text: ')
l = o_s.split(',')
f_s = sorted(l,key=str)
print(','.join(f_s))

Deeraj Ravi Poojary

Question 9</br>
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program:

Hello world
Practice makes perfect
Then, the output should be:

HELLO WORLD
PRACTICE MAKES PERFECT
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [18]:
lines = []
while True:
    s = input('Enter your sentence here, to exit click double enter: ')
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

GVU DSFDJHFC CSDCADCDC ASWD DSF DF

Question 10</br>
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:

hello world and practice makes perfect and hello world again
Then, the output should be:

again and hello makes perfect practice world
Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [19]:
s = input('Input Text: ')
words = [word for word in s.split(" ")]
print(' '.join(sorted(list(set(words)))))

kn,ljb utcgv